#img-poster{
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  }

#thumbnail{
  width: 200px;
  height: 300px;
}

#img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#title, #img-caption{
  text-align: center;
  background-color: #AAA79B;
}

#poster-caption{
  color: #271F20;
}

*{
  background-color: #329EA1;  
  font-family: 'Oranienbaum', serif;
  color: #271F20;
}

h1, h2, h3{
  font-family: 'Roboto', sans-serif;
  text-align: start;
}

p{
  text-align: center;
}

#lit{
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

li{
  list-style-type: none;
}

#list{
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-content: center;
}

#last_line{
  background: #AAA79B;
}